.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  height: 13vh;
  position:relative;
  flex-wrap: wrap;
  border-bottom: 2px solid var(--border);
}

.navbar .navbar-heading {
  color: var(--text-color-1);
  font-weight: 800;
  font-size: 1.2em;
}

.navbar .navbar-heading > span {
  color: var(--primary);
}

.navbar .nav-items {
  display: flex;
        align-items: center;
}

.navbar .nav-item {
  margin: 0 1rem;
  list-style: none;
        font-size: 0.9em;
}

.navbar .nav-item:last-child {
  margin-right: 0;
}

.navbar .nav-link {
  text-decoration: none;
  color: var(--text-color-2);
        font-weight:600;
}

.navbar .nav-link:hover{
  color:var(--light-primary);
}

.navbar .nav-link:active{
  color:var(--primary);
}

.navbar .active {
  color: var(--primary);
}

.navbar .search-btn {
  background: transparent;
  border: none;
  color: var(--text-color-2);
  cursor: pointer;
  font-size: 1rem;
}

.navbar .hamburger{
    display:none;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border:none;
    background:transparent;
    cursor:pointer;
    z-index:2;
}

.navbar .hamburger-active span:nth-last-child(1){
    display:none;
}
.navbar .hamburger-active span:nth-child(1){
  transform: rotate(45deg);
}
.navbar .hamburger-active span:nth-child(2){
  transform: translateY(-9px) rotate(135deg);
}

.navbar .hamburger span{
    width:25px;
    height:3px;
    margin:0.2rem 0;
    background:var(--text-color-1);
    transition:all 0.3s linear;
}

.navbar .list{
  display:none;
}

@media (max-width: 768px) {
  .navbar .nav-items{
    display:none;
  }
    .navbar .list{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        display:flex;
        height:100vh;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        background:white;
        z-index:1;
    }

    .navbar .nav-item{
        margin:0.8rem 0;
    }

    .navbar .hamburger{
      display:flex !important;
    }

    .navbar .list-2{
       display:flex;
    }

    .navbar .dismiss-btn{
       position:absolute;
       top:10rem;
       right:5rem;
       background:transparent;
       border:none;
       color:var(--text-color-1);
       font-size:1.2rem;
       font-weight:600;
    }

}
