@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight:500;
}

:root{
   --primary:#5651E9;
   --light-primary:#6a66ee;
   --secondary:#FFFFFF;
   --tertiary:#F3F4F6;
   --text-color-1:#111827;
   --text-color-2:#45474C;
   --text-color-3:#84868C;
   --border:#E9EBEE;
   --success:#34D399;
}

.App{
  width:90%;
  margin:auto;
}

.primary-btn{
  padding:0.8rem;
  background:var(--primary);
  color:var(--secondary)!important;
  border-radius:20px;
  border:none;
  cursor:pointer;
  font-weight:500;
}

.primary-btn:hover{
  background:var(--light-primary);
}

.primary-btn:active{
  background:var(--primary);
}

.primary-link{
  color:var(--primary);
  text-decoration:none;
  font-weight:600;
  font-size:0.8rem;
}

.primary-link:hover{
  color:var(--light-primary);
}

.primary-link:active{
  color:var(--primary);
}

@media (max-width:985px){
  .App{
     width:100%;
  }
}