.footer{
    background:var(--tertiary);
    padding:3rem 0;
}

.footer ul{
    display:flex;
    width:100%;
    justify-content:center;
}

.footer li{
    list-style:none;
    margin:1rem 0.5rem;
}

.footer a{
    text-decoration:none;
    color:var(--text-color-3);
    font-size:0.8rem;
    font-weight:500;
}

.footer .iconify{
    font-size:1.2rem;
}

.footer .footer-content{
    text-align:center;
    font-size:0.8rem;
    color:var(--text-color-3);
    font-weight:500;
    opacity:0.8;
}